<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904000730108-g807iau99m7v368dtmud4rk8uh218u4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904000730108-g807iau99m7v368dtmud4rk8uh218u4q</string>
	<key>API_KEY</key>
	<string>AIzaSyC52zqOEgXvNZ11ahzvFJE6Kof3wK9Sf7U</string>
	<key>GCM_SENDER_ID</key>
	<string>904000730108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.RigMarketplace</string>
	<key>PROJECT_ID</key>
	<string>rig-marketplace</string>
	<key>STORAGE_BUCKET</key>
	<string>rig-marketplace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904000730108:ios:afed5bb7e879ba70b4f879</string>
</dict>
</plist>